* {
    box-sizing: border-box;
}

body {
    background: url('./background-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.header {
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    padding-top: 1em;
    border-radius: 20px;
}

.name {
    margin-top: 1em;
    color:aliceblue;
}

a {
    color: aliceblue;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 20px;
}

.navBar {
    display: flex;
    justify-content: center;
}

.tab {
    background-color: rgba(0, 0, 0, 0.1);
    color: aliceblue;
    padding: 1em;
    border-style: none;
    margin-top: 1em;
    margin-right: 2em;
    margin-bottom: 2em;
}

.tab.active {
    background-color:red;
}

.container {
    display: flex;
    justify-content: center;
    max-width: 750px;
    margin: auto;
    background-color: aliceblue;
    border-radius: 20px;
    min-height: 100vh;
}

.mainPage {
    font-size: 22px;
}

.homePage {
    padding: 30px;
    text-align: center;
    font-size: 2rem;
    border: solid 2px black;
    width: 850px;
    margin-top: 45px;    
    background-color: rgba(0, 0, 0, 0.9);
    color:aliceblue;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

.mainPageBox2 {
    font-size: 1rem;
    margin-top: 65px;    
}

.mainPageBox3 {
    padding: 40px;
    font-size: 1.25rem;
    margin-top: 35px;    
}

.mainPageBox4 {
    padding: 40px;
    font-size: 1.25rem;
    margin-top: 35px;
    margin-bottom: 20px;    
}

.footer {
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 50px; 
    margin-top: 20px;
}

.card {
    padding: 40px;
    font-size: 1rem;
    margin-top: 30px;  
    margin-bottom: 35px;  
    text-align: center;
    border: solid 2px black;
    background-color: aliceblue;
    border-radius: 10px;
    width: 450px;
}